---
import Layout from "~/layouts/LandingLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import { SITE } from "astrowind:config";
const metadata = {
  title: "Tournament Registration",
};
---

<!-- 
<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <!-- <Hero
    tagline={SITE.name}
    title="Tournament Rules"
    subtitle="Step-by-step guide to designing a Landing Page that highlights every facet of your product or service."
    actions={[
      {
        variant: "primary",
        text: "Call to Action",
        href: "#",
        icon: "tabler:square-rounded-arrow-right",
      },
    ]}
    image={{
      src: "https://images.unsplash.com/photo-1473188588951-666fce8e7c68?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2174&q=80",
      alt: "A spotlight on a product. Product Details Landing Page Demo",
    }}
  /> -->

  <CallToAction
    title="Coming soon"
    subtitle="We are working on the content of these demo pages. You will see them very soon. Stay tuned Stay tuned!"
    actions={[
      {
        variant: "primary",
        text: "Download Template",
        href: "https://github.com/onwidget/astrowind",
        icon: "tabler:download",
      },
    ]}
  />
</Layout>
-->

<Layout title="Travel">
  <h1>Our Location</h1>
  <p>Come The school can be reached at the address below.</p>

  <iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3155.7484166645313!2d144.66369327578326!3d-37.72558277199776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6f3cc4cba93c7%3A0x73990fea7e85ea58!2sBacchus%20Marsh%20Grammar%20-%20Woodlea%20Campus!5e0!3m2!1sen!2sau!4v1743863506581!5m2!1sen!2sau" 
    width="600" 
    height="450" 
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</Layout>