---
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";

const metadata = {
  title: "Victorian Junior Chess Championships 2025",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: "primary",
        text: "Registration",
        href: "https://linktoregistration",
        target: "_blank",
        icon: "tabler:user-edit",
      },
      { text: "Learn more", href: "#features" },
    ]}
    image={{
      src: "~/assets/images/hero-image.webp",
      alt: "AstroWind Hero Image",
    }}
  >
    <Fragment slot="title"> 2025 Victorian Junior Chess Championship </Fragment>

    <!-- <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and
        production-ready template for Astro 5.0 + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"
        >AstroWind: Production-ready.</span
      >
      Suitable for Startups, Small Business, SaaS websites, Professional Portfolios,
      Marketing websites, Landing Pages & Blogs.
    </Fragment> -->
    <Fragment slot="subtitle">
      Get ready for the biggest junior chess state tournament of 2025! This
      highly anticipated event will bring together the best young players to
      compete for top honors. Whether you're a rising star or a passionate chess
      enthusiast, this is your chance to showcase your skills and be part of an
      unforgettable competition.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What's new in 2025 VJCC"
    subtitle="The Victorian Junior Chess Championship is held every year and is supported by Chess Victoria. However, there are some changes in 2025. Would you like to know more?."
    items={[
      {
        title: "First time in the West",
        description:
          "For the first time, the Victorian Junior Chess Championship will be held in the west, making it more accessible to local players.",
        icon: "tabler:brand-tailwind",
      },
      {
        title: "FIDE rated",
        description:
          "The 2025 Victorian Junior Chess Championship will be FIDE-rated for U12 and above, giving players the chance to earn international ratings.",
        icon: "tabler:components",
      },
      {
        title: "Time Control",
        description:
          "The 2025 championship will feature updated time controls, providing longer game durations for improved competitive play.",
        icon: "tabler:list-check",
      },
      {
        title: "Brand new Organizer",
        description:
          "The 2025 championship will be led by a new organizer, bringing fresh ideas and improvements to the event.",
        icon: "tabler:rocket",
      },
      {
        title: "DGT Supports",
        description:
          "DGT live boards will be used for the U18 category, allowing real-time game broadcasting and analysis.",
        icon: "tabler:arrows-right-left",
      },
      {
        title: "Open to new ideas and contributions",
        description:
          "Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.",
        icon: "tabler:bulb",
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Venue"
    title="Bacchus Marsh Grammar - Woodlea Campus"
    items={[
      {
        title: "Address",
        description: "111 Frontier Avenue, Aintree (Rockbank) VIC 3336.",
      },
      {
        title: "Public Transport",
        description:
          "Easily accessible by public transport, with V/Line services stopping at Rockbank Station, just a short distance from the venue.",
      },
      {
        title: "Parking",
        description:
          "Plenty of parking is available, including school parking, with a shopping center just a 3-minute walk away for added convenience.",
      },
    ]}
    image={{
      src: "~/assets/images/2019.jpg",
      alt: "Woodlea Campus",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        A modern school with excellent facilities
      </h3>
      Woodlea Campus offers state-of-the-art facilities in a spacious and welcoming
      environment, ensuring a great experience for all players and visitors
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** Use as chedule-->

  <Steps
    title="Tournament Schedule: Plan Your Moves!"
    items={[
      {
        title:
          'Day 1: <span class="font-medium">Start U12, U14, U16 & U18</span>',
        description:
          "Day 1 kicks off with the U12–U18 categories, starting their 1st and 2nd rounds. Get ready for an exciting day of competitive chess as the tournament begins!.",
        icon: "tabler:package",
      },
      {
        title: 'Day 2: <span class="font-medium">Challenging</span>',
        description:
          "U12–U18 players return for their 3rd and 4th rounds, battling it out in intense matchups. With the competition heating up, expect thrilling games, smart moves, and maybe even a few surprises!.",
        icon: "tabler:letter-case",
      },
      {
        title: "Day 3: Start U8 & U10",
        description:
          "U12–U18 players continue with rounds 5 and 6, getting closer to the final showdown. Meanwhile, the U8 & U10 categories kick off their tournament with four exciting rounds—watch the next generation of chess stars in action!.",
        icon: "tabler:paint",
      },
      {
        title: "Day 4: Welcome new champions",
        description:
          "The tournament wraps up with the final Round 7 for all categories, followed by the award presentation. Celebrate the hard-fought battles and welcome the new champions of each division!.",
        icon: "tabler:check",
      },
    ]}
    image={{
      src: "https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80",
      alt: "Steps image",
    }}
  />

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`Explore our blog for in-depth articles, updates, and insights about upcoming tournaments, game strategies, and tips. Stay informed and get the latest news to enhance your tournament experience!.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: "max-w-6xl" }}
    items={[
      {
        title: "Why on the West?",
        description:
          "Hosting tournaments in different locations, like the West, gives players the chance to explore new places, experience diverse cultures, and connect with wider audiences. It’s a great way to step outside the local scene, inspire creativity, and help players grow both on and off the board.",
      },
      {
        title: "What do I need to start?",
        description:
          "Simply register for the tournament and plan for a 4-day event. Don’t forget to add the dates to your calendar so you don’t miss out on any action!.",
      },
      {
        title: "Can parents stay on the venue?",
        description:
          "For players aged U12-U18, parents can drop off their kids and pick them up after the tournament. We also provide a designated room for their convenience. For U8 & U10 players, parents need to provide contact details and must be present to pick up their child when the tournament ends.",
      },
      {
        title: "Anywhere to buy lunch?",
        description:
          "Players and parents can access a shopping center just a 3-minute walk away, offering a variety of food options to suit different tastes. Alternatively, parents can bring their own lunch if preferred.",
      },
      {
        title: "Can I come there with public transport?",
        description:
          "Yes, you can easily reach the venue via public transport. It’s a 30-minute ride from the CBD on the V/Line service.",
      },
      {
        title: "Can I take bye?",
        description:
          "es, you can take a bye. However, to qualify for the title, all players are required to play in every round.",
      },
      {
        title: "Is accommodation easy to find?",
        description:
          "Yes, there are accommodation options nearby. Players coming from further away can stay in Caroline Springs, which is just a 15-minute drive from the venue, making it convenient for those who wish to stay close during the tournament..",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: "Signed Up", amount: "132K" },
      { title: "ACF Rated", amount: "24.8K" },
      { title: "FIDE Rated", amount: "10.3K" },
      { title: "Titled Player", amount: "48.4K" },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: "primary",
        text: "Register now",
        href: "https://github.com/onwidget/astrowind",
        target: "_blank",
        icon: "tabler:download",
      },
    ]}
  >
    <Fragment slot="title">
      Junior&nbsp;+&nbsp;<br class="block sm:hidden" /><span
        class="sm:whitespace-nowrap">Parents</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      Don't miss out on the 2025 Victorian Junior Chess Championship! With
      exciting new changes and limited slots available, secure your spot now and
      be part of this special event. <br class="hidden md:inline" />Sign up
      today! :P
    </Fragment>
  </CallToAction>
</Layout>
